<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Owned</title>
</head>
<body>
    
    <div class="navbar"> 
        <a href="/index">Home Page</a>
        <a href="/properties">Properties</a>
        <a href="/CompletedLandscapingSessions">Completed Landscaping Work</a>
        <a href="/PropertyOwners">Property Owners</a>
        <a href="/CrewLeaders">Crew Leaders</a>
        <a href="/Employees">Employees</a>
        <a href="/PropertyOwned">Properties and their Owners</a>
    </div>
    
    <br>
    <br>
    PropertyOwned Page - Manage Properties and their Owners
    <br>
    <br>

    <table style="border:solid">
        <caption>Properties on file</caption>
        <thead>
            <th>Address:</th>
        </thead>

        <tbody>

            {{#each properties}}
            <tr>
                <td>{{this.propAddress}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    <br>
    <br>

    <table style="border:solid">
        <caption>Property Owners on file</caption>
    <thead>
       <th>Name</th> 
       <th>Email</th>
    </thead>
    <tbody>
        {{#each owners}}
        <tr>
            <td>{{this.fname}} {{this.lname}}</td>
            <td>{{this.email}}</td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    <br><br>

    <table style="border:solid">
        <caption>Owners and their Properties</caption>
        <thead>
            <th>Property</th>
            <th>Owner</th>
        </thead>
        <tbody>
            {{#each propertyowned}}
            <tr>
                <td>{{this.address}}</td>
                <td>{{this.ownerfirst}} {{this.ownerlast}}</td>
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br><br>

    <form id="addpropertyowned" action="/PropertyOwned" method="post">
        <fieldset>
            <legend>Manage Properties and their Owners</legend>

            Property: <select name="propertyID">
                    {{#each properties}}
                    <option value="{{this.propertyID}}">{{this.propAddress}}</option>
                    {{/each}}
                </select><br>

            Owner: <select name="ownerID">
                    {{#each owners}}
                    <option value="{{this.ownerID}}">{{this.fname}} {{this.lname}}</option>
                    {{/each}}
                </select><br>

            <input type="submit" value="Submit" />
        </fieldset>
    </form>
</body>
</html>